    .focom-nav {
      height: 50px;
    }

    .focom-slide img {
      width: 100%;
      background-size: cover;
    }

    .focom-slide:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #000;
      opacity: 0.3;
    }
    .focom-slide h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .focom-minwidth {
      min-width: 300px;
    }
    .focom-mobile-nav {
      height: 50px;
    }

    .focom-mobile-nav-icon {
      font-size: 26px;
      padding-top: 6px;
    }

    .focom-mobile-nav-text {
      font-size: 12px;
      margin-top: -3px;
      font-weight: 600;
    }

    .icon {
      width: 100%;
    }

    .focom-list a:hover {
      text-decoration: none;
    }
    .focom-list:hover {
      opacity: 0.8;
    }
    .focom-list-price {
      font-size: 30px;
    }
    .focom-vehicle-price {
      font-size: 45px;
    }
    .focom-vehicle-profile-image {
      width: 100px;
    }

    .focom-vehicle-details {
      font-size: 22px;
    }

    .focom-section {
      background-color: #fafafafa;
      margin-bottom: 150px;
    }

    .focom-section-padding {
      padding-right: 5vw;
      padding-left: 5vw;
    }

    .focom-signin-paddingy {
      padding-top: 50px;
      padding-bottom: 175px;
    }

    .focom-signin-card {
      min-width: 200px;
      max-width: 400px;
      margin-top: -125px;
      padding: 30px;
    }

    .focom-search-height {
      height: 0px !important;
      padding: 13px !important;
      font-size: 15px;
      padding: 1rem; 
      padding-left: 35px !important; 
      margin: -16px 0px -16px 0px;

    }


    .focom-mobile-nav-padding {
      padding-bottom: 80px;
    }

    .focom-list-padding {
      padding-left: 5px; 
      padding-right: 5px;
    }
    .focom-reset-margin {
      margin-right: 0px !important;
      margin-left: 0px !important; 
    }
    .focom-reset-padding {
      padding-right: 0px; 
      padding-left: 0px; 
    }

  .focom-notification-bottom-width { 
      min-width: 130px;
      max-width: 200px;
  }

  .focom-home-title {
    font-size: 6vw;
  }

 .focom-mobile-list-filter {
  margin-top: 55px;
  height: 40px;
 }

 .focom-input-image-principal {
  position: relative;
  width: 265px;
  height: 180.20px;
  background: url(../img/add_car.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
 }

 .focom-input-image-principal button {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

 .focom-input-image {
  position: relative;
  background: url(../img/add_car.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
 }

.focom-input-image button {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.focom-input-image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.focom-image-icon-delete {
  font-size: 30px;
  background-color: #fffc;
  padding: 2px;
  border-radius: 50%;
  margin-left: -40px;
  margin-top: 5px;
  position: absolute;
  text-decoration: none !important;
}

.focom-image-icon-delete {
  cursor: pointer;
}

.focom-index {
  border: none;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

.focom-vehicle-min-images {
  width: 100%;
  height: 88.75px;
  overflow: hidden;
  margin-bottom: 15px;
}

.focom-vehicle-min-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.focom-vehicle-image-principal {
  width: 100%;
  height: 50vw;
  max-height: 400px;
  min-height: 160px;
  overflow: hidden;
}

.focom-vehicle-min-images-section {
}

.focom-vehicle-min-images-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.focom-image-profile {
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.focom-image-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.focom-button-width {
  min-width: 140px;
  max-width: 200px;
}

.focom-logo-header-mobile {
  width: 132px;
}

.text-decoration-none:hover {
  text-decoration: none;
}

/*      SOLO DESKTOP      */
@media (min-width: 768px) {

  .focom-section-paddingx {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .shadow-d-md {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .border-d-md {
    border: 1px solid #dee2e6 !important;
  }
  .focom-vehicle-info {
  height: 250px;
  }

  .focom-input-image {
  width: 200px;
  height: 136px;
  }

}

/*      SOLO MOBILE      */
@media (max-width: 768px) {

  .focom-vehicles-list {
    margin-top: 30px;
  }
  .focom-vehicle-info {
    position: block;
  }
.focom-vehicle-image-principal {
  max-height: 300px;
}

  .focom-input-image {
  width: 200px;
  height: 136px;
  }

}

/*      SOLO MENOR QUE 576px      */
@media (max-width: 576px) {

  .focom-vehicles-list {
    margin-top: 30px;
  }
  .focom-vehicle-info {
    position: block;
  }
.focom-vehicle-image-principal {
  max-height: 300px;
}

  .focom-input-image {
  width: 125px;
  height: 85px;
  }

}