    .focom-nav {
      height: 50px;
    }

    .focom-slide img {
      width: 100%;
      background-size: cover;
    }

    .focom-slide:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #000;
      opacity: 0.3;
    }
    .focom-slide h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .focom-minwidth {
      min-width: 300px;
    }
    .focom-mobile-nav {
      height: 70px;
    }
    .icon {
      width: 100%;
    }

    .focom-list a:hover {
      text-decoration: none;
    }
    .focom-list:hover {
      opacity: 0.8;
    }
    .focom-list-price {
      font-size: 30px;
    }
    .focom-vehicle-price {
      font-size: 45px;
    }
    .focom-vehicle-profile-image {
      width: 100px;
    }

    .focom-vehicle-details {
      font-size: 22px;
    }

    .focom-section {
      background-color: #fafafafa;
      margin-bottom: 150px;
    }

    .focom-section-padding {
      padding-right: 5vw;
      padding-left: 5vw;
    }

    .focom-signin-paddingy {
      padding-top: 50px;
      padding-bottom: 175px;
    }

    .focom-signin-card {
      min-width: 200px;
      max-width: 400px;
      margin-top: -125px;
      padding: 30px;
    }

    .focom-search-height {
      height: 30px;
      padding: 1rem; 
      padding-left: 35px !important; 

    }

    .focom-search-icon {
      left: 75px;
    }

    .focom-mobile-nav-padding {
      padding-bottom: 80px;
    }

    .focom-list-padding {
      padding-left: 5px; 
      padding-right: 5px;
    }
    .focom-reset-margin {
      margin-right: 0px !important;
      margin-left: 0px !important; 
    }
    .focom-reset-padding {
      padding-right: 0px; 
      padding-left: 0px; 
    }

  .focom-notification-bottom-width { 
      min-width: 130px;
      max-width: 200px;
  }

  .focom-home-title {
    font-size: 6vw;
  }

 .focom-mobile-list-filter {
  margin-top: 4.4rem;
  height: 40px;
 }

 .focom-image-input {
  position: relative;
  width: 250px;
  height: 170px;
  background: url(../img/add_car.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
 }

.focom-image-input button {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}


.focom-image-input img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.focom-image-delete {
  position: absolute;
  top: 7px;
  bottom: 0px;
  left: 225px;
  right: 0px;
  text-decoration: none !important;
}

.focom-index {
  border: none;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

.focom-vehicle-images {
  width: 100%;
  height: 88.75px;
  overflow: hidden;
  margin-bottom: 15px;
}

.focom-vehicle-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.focom-vehicle-image-principal {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.focom-vehicle-images-section {
  height: 400px;
}

.focom-vehicle-image-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.focom-image-profile {
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.focom-image-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}




/*      SOLO DESKTOP      */
@media (min-width: 768px) {

  .focom-section-paddingx {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .shadow-d-md {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .border-d-md {
    border: 1px solid #dee2e6 !important;
  }
  .focom-vehicle-info {
    position: absolute;
    left: 805px;
  }
}

/*      SOLO MOBILE      */
@media (max-width: 768px) {

  .focom-vehicles-list {
    margin-top: 30px;
  }
  .focom-vehicle-info {
    position: block;
  }

}